.DS_Store
Implementation/.DS_Store
Implementation/backend/.DS_Store
Implementation/backend/app/.DS_Store
.DS_Store
Implementation/frontend/ios/frontend/GoogleService-Info.plist
Implementation/frontend/ios/GoogleService-Info.plist
Implementation/frontend/ios/GoogleService-Info.plist
Implementation/firebase.json
Implementation/frontend/ios/Podfile.lock
Implementation/frontend/package-lock.json
*.plist
Implementation/frontend/ios/frontend.xcodeproj/project.pbxproj
